<html>

<head>
    <!-- include the stylesheet file -->
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>

<body>

    <form action="./login" method="post">

        <div class="Form">

            <img src="" id="icon" alt="icon">

            <h1>LOG IN </h1>

            <input type="text" id="input_text" name="username" placeholder="Username">

            <input type="password" id="password" name="password" placeholder="Password">

            <div class="element">
                <input type="checkbox">Remember Me
            </div>

            <button id="submit" type="submit">Login</button>

            <div>
                <a href="#" id="link">Forget Password </a>
                <a href="/user/signup" id="link">Sign UP </a>
            </div>
        </div>
    </form>

</body>

</html>