<html>

<head>
    <!-- include the stylesheet file -->
    <title>Video</title>
</head>

<body>
    <video id="videoPlayer" width="700px" controls autoplay>
        <source src="./672ceaa1555d56d2221e4f32" type="video/mp4">
    </video>
</body>

</html>